deploy:
  runs-on: ubuntu-latest
  needs: build
  steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Docker Login
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and Push Docker Image
      run: |
        # Define Docker image name and tag
        IMAGE_NAME=${{ secrets.DOCKER_USERNAME }}/devops
        IMAGE_TAG=${{ github.sha }}

        # Build Docker image
        docker build -t $IMAGE_NAME:$IMAGE_TAG .

        # Push Docker image
        docker push $IMAGE_NAME:$IMAGE_TAG

    - name: Deploy to Azure Web App
      uses: azure/webapps-deploy@v2
      with:
        app-name: 'dv-cute-perch'
        publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
        images: '${{ secrets.DOCKER_USERNAME }}/devops:${{ github.sha }}'
